{{- define "main" }}

{{- if (and .Site.Params.profileMode.enabled .IsHome) }}
{{- partial "index_profile.html" . }}
{{- else }} {{/* if not profileMode */}}

{{- if not .IsHome | and .Title }}
<header class="page-header">
  {{- partial "breadcrumbs.html" . }}
  <h1>{{ .Title }}</h1>
  {{- if .Description }}
  <div class="post-description">
    {{ .Description }}
  </div>
  {{- end }}
</header>
{{- end }}

<ul>
{{ range .Pages.ByTitle }}

        <a href="{{ .Permalink }}">{{ .Title }}</a>


{{- end }}
</ul>


{{- end }}{{/* end profileMode */}}

{{- end }}{{- /* end main */ -}}
