{{ $cover := .HasShortcode "blocks/cover" }}
<nav class="js-navbar-scroll navbar navbar-expand navbar-dark {{ if $cover}} td-navbar-cover {{ end }} flex-column flex-md-row td-navbar" data-auto-burger="primary">
        <a class="navbar-brand" href="{{ .Site.Home.RelPermalink }}"></a>
	<div class="td-navbar-nav-scroll ml-md-auto" id="main_navbar">

		<ul class="navbar-nav mt-2 mt-lg-0">
			{{ $p := . }}
			<li class="nav-item mr-2 mb-lg-0">
				<a class="nav-link active" href="https://github.com/openshift/microshift/blob/main/docs/getting_started.md" >Getting Started</span></a>
			</li>
			<li class="nav-item mr-2 mb-lg-0">
				<a class="nav-link active" href="https://github.com/openshift/microshift#user-documentation" >User Documentation</span></a>
			</li>
			{{ if  .Site.Params.versions }}
			<li class="nav-item dropdown">
				{{ partial "navbar-version-selector.html" . }}
			</li>
			{{ end }}
			{{ if  (gt (len .Site.Home.Translations) 0) }}
			<li class="nav-item dropdown">
				{{ partial "navbar-lang-selector.html" . }}
			</li>
			{{ end }}
		</ul>
	</div>
	<button id="hamburger" onclick="kub.toggleMenu()" data-auto-burger-exclude><div></div></button>
</nav>
