name: hugo

on:
  pull_request:
  push:

jobs:
  hugo:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v3
      -
        name: Install nodejs
        uses: actions/setup-node@v3
        with:
          node-version: '14'
      -
        name: Install dependencies
        run: npm install
      -
        name: Run Hugo
        run: make static

      -
        name: Deploy to GitHub Pages
        if: success() && github.event_name != 'pull_request' && github.ref == 'refs/heads/main'
        uses: crazy-max/ghaction-github-pages@v2.5.0
        with:
          target_branch: gh-pages
          build_dir: public
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
